/* common shared style */

.total-pad {
    width: 1320px;
    height: 600px;
}

.font-merri {
    font-family: Merriweather;
}

.font-inter {
    font-family: Inter;
}

.primary-color {
    color: #F00;
}

.primary-btn {
    color: #ffeded;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #F00;
    border: 0;
    margin-left: 45%;
    margin-top: 25px;
    padding: 20px;
    border-radius: 10px;
}

.size-of-img {
    margin: 50px auto 120px auto;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
}

/* header section */

.header-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assect/Banner\ Image.png);
}

.header-title,
.header-description {
    text-align: center;
    color: #FFF;
}

.header-title {
    font-size: 32px;
    font-weight: 400;
    padding: 180px 530px 0px 530px;
    margin-bottom: 0px;
}

.header-description {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 0px 350px 0px 350px;
    margin-top: 10px;
}

/* main section */

.section-one-heading {
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 12px;
}

.section-one-title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 12px;
}

.section-one-description {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 12px;
}

.new-year-photo {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    margin-left: 550px;
    margin-bottom: 35px;
}

.section-two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assect/Vectorrr.png);
    display: flex;
    color: #FFF;
}

.section-two-heading {
    font-size: 64px;
    font-weight: 900;
    padding-left: 125px;
    padding-top: 125px;
}

.section-two-description {
    font-size: 18px;
    font-weight: 400;
    padding-left: 125px;
}

.join-btn {
    color: #FFF;
    background: none;
    border: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 125px;
}

.section-two-img {
    padding-right: 35px;
    padding-top: 60px;
}

.section-three {
    background-color: #ffeded;
    width: 1320px;
    height: 300px;
    margin: auto;
    padding-top: 60px;
}

.section-three-title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-four {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding-left: 282px;
    padding-right: 150px;
    padding-top: 100px;
}

.section-four,
.first-part,
.second-part {
    margin-right: 150px;
}

.first-part {
    margin-right: 100px;
}

.first-part-tilte {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.first-part-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.second-part {
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    border-radius: 463px;
    border: 15px solid #F00;
}